<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.febs.purchase.mapper.PurchaseCgtkmxMapper">
    <resultMap id="BaseResultMap" type="com.febs.purchase.entity.PurchaseCgtkmx">
        <id column="Id" jdbcType="BIGINT" property="id" />
        <result column="pid" jdbcType="BIGINT" property="pid" />
        <result column="ydjh" jdbcType="VARCHAR" property="ydjh" />
        <result column="sp_id" jdbcType="INTEGER" property="spId" />
        <result column="gg1_id" jdbcType="INTEGER" property="gg1Id" />
        <result column="gg2_id" jdbcType="INTEGER" property="gg2Id" />
        <result column="sl" jdbcType="INTEGER" property="sl" />
        <result column="je" jdbcType="DECIMAL" property="je" />
        <result column="ex1" jdbcType="VARCHAR" property="ex1" />
        <result column="ex2" jdbcType="VARCHAR" property="ex2" />
        <result column="ex3" jdbcType="VARCHAR" property="ex3" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    Id, pid, ydjh, sp_id, gg1_id, gg2_id, sl, je, ex1, ex2, ex3
  </sql>
    <select id="selectByExample" parameterType="com.febs.purchase.entity.PurchaseCgtkmxExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from purchase_cgtkmx
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from purchase_cgtkmx
        where Id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from purchase_cgtkmx
    where Id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.febs.purchase.entity.PurchaseCgtkmxExample">
        delete from purchase_cgtkmx
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" keyColumn="Id" keyProperty="id" parameterType="com.febs.purchase.entity.PurchaseCgtkmx" useGeneratedKeys="true">
    insert into purchase_cgtkmx (pid, ydjh, sp_id,
      gg1_id, gg2_id, sl, je,
      ex1, ex2, ex3)
    values (#{pid,jdbcType=BIGINT}, #{ydjh,jdbcType=VARCHAR}, #{spId,jdbcType=INTEGER},
      #{gg1Id,jdbcType=INTEGER}, #{gg2Id,jdbcType=INTEGER}, #{sl,jdbcType=INTEGER}, #{je,jdbcType=DECIMAL},
      #{ex1,jdbcType=VARCHAR}, #{ex2,jdbcType=VARCHAR}, #{ex3,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" keyColumn="Id" keyProperty="id" parameterType="com.febs.purchase.entity.PurchaseCgtkmx" useGeneratedKeys="true">
        insert into purchase_cgtkmx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                pid,
            </if>
            <if test="ydjh != null">
                ydjh,
            </if>
            <if test="spId != null">
                sp_id,
            </if>
            <if test="gg1Id != null">
                gg1_id,
            </if>
            <if test="gg2Id != null">
                gg2_id,
            </if>
            <if test="sl != null">
                sl,
            </if>
            <if test="je != null">
                je,
            </if>
            <if test="ex1 != null">
                ex1,
            </if>
            <if test="ex2 != null">
                ex2,
            </if>
            <if test="ex3 != null">
                ex3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                #{pid,jdbcType=BIGINT},
            </if>
            <if test="ydjh != null">
                #{ydjh,jdbcType=VARCHAR},
            </if>
            <if test="spId != null">
                #{spId,jdbcType=INTEGER},
            </if>
            <if test="gg1Id != null">
                #{gg1Id,jdbcType=INTEGER},
            </if>
            <if test="gg2Id != null">
                #{gg2Id,jdbcType=INTEGER},
            </if>
            <if test="sl != null">
                #{sl,jdbcType=INTEGER},
            </if>
            <if test="je != null">
                #{je,jdbcType=DECIMAL},
            </if>
            <if test="ex1 != null">
                #{ex1,jdbcType=VARCHAR},
            </if>
            <if test="ex2 != null">
                #{ex2,jdbcType=VARCHAR},
            </if>
            <if test="ex3 != null">
                #{ex3,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.febs.purchase.entity.PurchaseCgtkmxExample" resultType="java.lang.Long">
        select count(*) from purchase_cgtkmx
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update purchase_cgtkmx
        <set>
            <if test="record.id != null">
                Id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.pid != null">
                pid = #{record.pid,jdbcType=BIGINT},
            </if>
            <if test="record.ydjh != null">
                ydjh = #{record.ydjh,jdbcType=VARCHAR},
            </if>
            <if test="record.spId != null">
                sp_id = #{record.spId,jdbcType=INTEGER},
            </if>
            <if test="record.gg1Id != null">
                gg1_id = #{record.gg1Id,jdbcType=INTEGER},
            </if>
            <if test="record.gg2Id != null">
                gg2_id = #{record.gg2Id,jdbcType=INTEGER},
            </if>
            <if test="record.sl != null">
                sl = #{record.sl,jdbcType=INTEGER},
            </if>
            <if test="record.je != null">
                je = #{record.je,jdbcType=DECIMAL},
            </if>
            <if test="record.ex1 != null">
                ex1 = #{record.ex1,jdbcType=VARCHAR},
            </if>
            <if test="record.ex2 != null">
                ex2 = #{record.ex2,jdbcType=VARCHAR},
            </if>
            <if test="record.ex3 != null">
                ex3 = #{record.ex3,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update purchase_cgtkmx
        set Id = #{record.id,jdbcType=BIGINT},
        pid = #{record.pid,jdbcType=BIGINT},
        ydjh = #{record.ydjh,jdbcType=VARCHAR},
        sp_id = #{record.spId,jdbcType=INTEGER},
        gg1_id = #{record.gg1Id,jdbcType=INTEGER},
        gg2_id = #{record.gg2Id,jdbcType=INTEGER},
        sl = #{record.sl,jdbcType=INTEGER},
        je = #{record.je,jdbcType=DECIMAL},
        ex1 = #{record.ex1,jdbcType=VARCHAR},
        ex2 = #{record.ex2,jdbcType=VARCHAR},
        ex3 = #{record.ex3,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.febs.purchase.entity.PurchaseCgtkmx">
        update purchase_cgtkmx
        <set>
            <if test="pid != null">
                pid = #{pid,jdbcType=BIGINT},
            </if>
            <if test="ydjh != null">
                ydjh = #{ydjh,jdbcType=VARCHAR},
            </if>
            <if test="spId != null">
                sp_id = #{spId,jdbcType=INTEGER},
            </if>
            <if test="gg1Id != null">
                gg1_id = #{gg1Id,jdbcType=INTEGER},
            </if>
            <if test="gg2Id != null">
                gg2_id = #{gg2Id,jdbcType=INTEGER},
            </if>
            <if test="sl != null">
                sl = #{sl,jdbcType=INTEGER},
            </if>
            <if test="je != null">
                je = #{je,jdbcType=DECIMAL},
            </if>
            <if test="ex1 != null">
                ex1 = #{ex1,jdbcType=VARCHAR},
            </if>
            <if test="ex2 != null">
                ex2 = #{ex2,jdbcType=VARCHAR},
            </if>
            <if test="ex3 != null">
                ex3 = #{ex3,jdbcType=VARCHAR},
            </if>
        </set>
        where Id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.febs.purchase.entity.PurchaseCgtkmx">
    update purchase_cgtkmx
    set pid = #{pid,jdbcType=BIGINT},
      ydjh = #{ydjh,jdbcType=VARCHAR},
      sp_id = #{spId,jdbcType=INTEGER},
      gg1_id = #{gg1Id,jdbcType=INTEGER},
      gg2_id = #{gg2Id,jdbcType=INTEGER},
      sl = #{sl,jdbcType=INTEGER},
      je = #{je,jdbcType=DECIMAL},
      ex1 = #{ex1,jdbcType=VARCHAR},
      ex2 = #{ex2,jdbcType=VARCHAR},
      ex3 = #{ex3,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="Page_Column_List">
       mx.Id, mx.pid, mx.ydjh, mx.sp_id, mx.gg1_id, mx.gg2_id, mx.sl, mx.je, mx.ex1, mx.ex2, mx.ex3
    </sql>

    <select id="selectPageByQuery" parameterType="com.febs.purchase.entity.PurchaseCgtkmx" resultType="com.febs.purchase.vo.resp.PurchaseCgtkmxResp">
        SELECT
        <include refid="Page_Column_List" />
        ,sp.spdm, sp.spmc ,sp.memo ,dw.jldwmc
        FROM purchase_cgtkmx mx
        LEFT JOIN shangpin sp ON mx.sp_id = sp.id
        LEFT JOIN basic_jldw dw ON sp.jldw_id = dw.id
        <where>
            <if test="mx.id != null">
                and mx.Id = #{mx.id}
            </if>
            <if test="mx.pid != null">
                and mx.pid = #{mx.pid}
            </if>
        </where>
    </select>


    <select id="selectByQuery" parameterType="com.febs.purchase.entity.PurchaseCgtkmx" resultType="com.febs.purchase.vo.resp.PurchaseCgtkmxResp">
        SELECT
        <include refid="Page_Column_List" />
        ,sp.spdm, sp.spmc ,sp.memo ,dw.jldwmc
        FROM purchase_cgtkmx mx
        LEFT JOIN shangpin sp ON mx.sp_id = sp.id
        LEFT JOIN basic_jldw dw ON sp.jldw_id = dw.id
        <where>
            <if test="id != null">
                and mx.Id = #{id}
            </if>
            <if test="pid != null">
                and mx.pid = #{pid}
            </if>
        </where>
    </select>

</mapper>
