<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.febs.purchase.mapper.PurchaseCgfkMapper">
    <resultMap id="BaseResultMap" type="com.febs.purchase.entity.PurchaseCgfk">
        <id column="Id" jdbcType="BIGINT" property="id" />
        <result column="djbh" jdbcType="VARCHAR" property="djbh" />
        <result column="djrq" jdbcType="TIMESTAMP" property="djrq" />
        <result column="gys_id" jdbcType="INTEGER" property="gysId" />
        <result column="je" jdbcType="DECIMAL" property="je" />
        <result column="khyh_id" jdbcType="INTEGER" property="khyhId" />
        <result column="yhzh" jdbcType="VARCHAR" property="yhzh" />
        <result column="bz" jdbcType="VARCHAR" property="bz" />
        <result column="fj" jdbcType="VARCHAR" property="fj" />
        <result column="zdr" jdbcType="VARCHAR" property="zdr" />
        <result column="zdrq" jdbcType="TIMESTAMP" property="zdrq" />
        <result column="qr" jdbcType="TINYINT" property="qr" />
        <result column="qrr" jdbcType="VARCHAR" property="qrr" />
        <result column="qrrq" jdbcType="TIMESTAMP" property="qrrq" />
        <result column="sh" jdbcType="TINYINT" property="sh" />
        <result column="auditor" jdbcType="VARCHAR" property="auditor" />
        <result column="shrq" jdbcType="TIMESTAMP" property="shrq" />
        <result column="fk" jdbcType="TINYINT" property="fk" />
        <result column="fkr" jdbcType="VARCHAR" property="fkr" />
        <result column="fkrq" jdbcType="TIMESTAMP" property="fkrq" />
        <result column="zf" jdbcType="TINYINT" property="zf" />
        <result column="zfr" jdbcType="VARCHAR" property="zfr" />
        <result column="zfrq" jdbcType="TIMESTAMP" property="zfrq" />
        <result column="ex1" jdbcType="VARCHAR" property="ex1" />
        <result column="ex2" jdbcType="VARCHAR" property="ex2" />
        <result column="ex3" jdbcType="VARCHAR" property="ex3" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    Id, djbh, djrq, gys_id, je, khyh_id, yhzh, bz, fj, zdr, zdrq, qr, qrr, qrrq, sh,
    auditor, shrq, fk, fkr, fkrq, zf, zfr, zfrq, ex1, ex2, ex3
  </sql>
    <select id="selectByExample" parameterType="com.febs.purchase.entity.PurchaseCgfkExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from purchase_cgfk
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from purchase_cgfk
        where Id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from purchase_cgfk
    where Id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.febs.purchase.entity.PurchaseCgfkExample">
        delete from purchase_cgfk
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" keyColumn="Id" keyProperty="id" parameterType="com.febs.purchase.entity.PurchaseCgfk" useGeneratedKeys="true">
    insert into purchase_cgfk (djbh, djrq, gys_id,
      je, khyh_id, yhzh, bz,
      fj, zdr, zdrq, qr,
      qrr, qrrq, sh, auditor,
      shrq, fk, fkr, fkrq,
      zf, zfr, zfrq, ex1,
      ex2, ex3)
    values (#{djbh,jdbcType=VARCHAR}, #{djrq,jdbcType=TIMESTAMP}, #{gysId,jdbcType=INTEGER},
      #{je,jdbcType=DECIMAL}, #{khyhId,jdbcType=INTEGER}, #{yhzh,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR},
      #{fj,jdbcType=VARCHAR}, #{zdr,jdbcType=VARCHAR}, #{zdrq,jdbcType=TIMESTAMP}, #{qr,jdbcType=TINYINT},
      #{qrr,jdbcType=VARCHAR}, #{qrrq,jdbcType=TIMESTAMP}, #{sh,jdbcType=TINYINT}, #{auditor,jdbcType=VARCHAR},
      #{shrq,jdbcType=TIMESTAMP}, #{fk,jdbcType=TINYINT}, #{fkr,jdbcType=VARCHAR}, #{fkrq,jdbcType=TIMESTAMP},
      #{zf,jdbcType=TINYINT}, #{zfr,jdbcType=VARCHAR}, #{zfrq,jdbcType=TIMESTAMP}, #{ex1,jdbcType=VARCHAR},
      #{ex2,jdbcType=VARCHAR}, #{ex3,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" keyColumn="Id" keyProperty="id" parameterType="com.febs.purchase.entity.PurchaseCgfk" useGeneratedKeys="true">
        insert into purchase_cgfk
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="djbh != null">
                djbh,
            </if>
            <if test="djrq != null">
                djrq,
            </if>
            <if test="gysId != null">
                gys_id,
            </if>
            <if test="je != null">
                je,
            </if>
            <if test="khyhId != null">
                khyh_id,
            </if>
            <if test="yhzh != null">
                yhzh,
            </if>
            <if test="bz != null">
                bz,
            </if>
            <if test="fj != null">
                fj,
            </if>
            <if test="zdr != null">
                zdr,
            </if>
            <if test="zdrq != null">
                zdrq,
            </if>
            <if test="qr != null">
                qr,
            </if>
            <if test="qrr != null">
                qrr,
            </if>
            <if test="qrrq != null">
                qrrq,
            </if>
            <if test="sh != null">
                sh,
            </if>
            <if test="auditor != null">
                auditor,
            </if>
            <if test="shrq != null">
                shrq,
            </if>
            <if test="fk != null">
                fk,
            </if>
            <if test="fkr != null">
                fkr,
            </if>
            <if test="fkrq != null">
                fkrq,
            </if>
            <if test="zf != null">
                zf,
            </if>
            <if test="zfr != null">
                zfr,
            </if>
            <if test="zfrq != null">
                zfrq,
            </if>
            <if test="ex1 != null">
                ex1,
            </if>
            <if test="ex2 != null">
                ex2,
            </if>
            <if test="ex3 != null">
                ex3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="djbh != null">
                #{djbh,jdbcType=VARCHAR},
            </if>
            <if test="djrq != null">
                #{djrq,jdbcType=TIMESTAMP},
            </if>
            <if test="gysId != null">
                #{gysId,jdbcType=INTEGER},
            </if>
            <if test="je != null">
                #{je,jdbcType=DECIMAL},
            </if>
            <if test="khyhId != null">
                #{khyhId,jdbcType=INTEGER},
            </if>
            <if test="yhzh != null">
                #{yhzh,jdbcType=VARCHAR},
            </if>
            <if test="bz != null">
                #{bz,jdbcType=VARCHAR},
            </if>
            <if test="fj != null">
                #{fj,jdbcType=VARCHAR},
            </if>
            <if test="zdr != null">
                #{zdr,jdbcType=VARCHAR},
            </if>
            <if test="zdrq != null">
                #{zdrq,jdbcType=TIMESTAMP},
            </if>
            <if test="qr != null">
                #{qr,jdbcType=TINYINT},
            </if>
            <if test="qrr != null">
                #{qrr,jdbcType=VARCHAR},
            </if>
            <if test="qrrq != null">
                #{qrrq,jdbcType=TIMESTAMP},
            </if>
            <if test="sh != null">
                #{sh,jdbcType=TINYINT},
            </if>
            <if test="auditor != null">
                #{auditor,jdbcType=VARCHAR},
            </if>
            <if test="shrq != null">
                #{shrq,jdbcType=TIMESTAMP},
            </if>
            <if test="fk != null">
                #{fk,jdbcType=TINYINT},
            </if>
            <if test="fkr != null">
                #{fkr,jdbcType=VARCHAR},
            </if>
            <if test="fkrq != null">
                #{fkrq,jdbcType=TIMESTAMP},
            </if>
            <if test="zf != null">
                #{zf,jdbcType=TINYINT},
            </if>
            <if test="zfr != null">
                #{zfr,jdbcType=VARCHAR},
            </if>
            <if test="zfrq != null">
                #{zfrq,jdbcType=TIMESTAMP},
            </if>
            <if test="ex1 != null">
                #{ex1,jdbcType=VARCHAR},
            </if>
            <if test="ex2 != null">
                #{ex2,jdbcType=VARCHAR},
            </if>
            <if test="ex3 != null">
                #{ex3,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.febs.purchase.entity.PurchaseCgfkExample" resultType="java.lang.Long">
        select count(*) from purchase_cgfk
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update purchase_cgfk
        <set>
            <if test="record.id != null">
                Id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.djbh != null">
                djbh = #{record.djbh,jdbcType=VARCHAR},
            </if>
            <if test="record.djrq != null">
                djrq = #{record.djrq,jdbcType=TIMESTAMP},
            </if>
            <if test="record.gysId != null">
                gys_id = #{record.gysId,jdbcType=INTEGER},
            </if>
            <if test="record.je != null">
                je = #{record.je,jdbcType=DECIMAL},
            </if>
            <if test="record.khyhId != null">
                khyh_id = #{record.khyhId,jdbcType=INTEGER},
            </if>
            <if test="record.yhzh != null">
                yhzh = #{record.yhzh,jdbcType=VARCHAR},
            </if>
            <if test="record.bz != null">
                bz = #{record.bz,jdbcType=VARCHAR},
            </if>
            <if test="record.fj != null">
                fj = #{record.fj,jdbcType=VARCHAR},
            </if>
            <if test="record.zdr != null">
                zdr = #{record.zdr,jdbcType=VARCHAR},
            </if>
            <if test="record.zdrq != null">
                zdrq = #{record.zdrq,jdbcType=TIMESTAMP},
            </if>
            <if test="record.qr != null">
                qr = #{record.qr,jdbcType=TINYINT},
            </if>
            <if test="record.qrr != null">
                qrr = #{record.qrr,jdbcType=VARCHAR},
            </if>
            <if test="record.qrrq != null">
                qrrq = #{record.qrrq,jdbcType=TIMESTAMP},
            </if>
            <if test="record.sh != null">
                sh = #{record.sh,jdbcType=TINYINT},
            </if>
            <if test="record.auditor != null">
                auditor = #{record.auditor,jdbcType=VARCHAR},
            </if>
            <if test="record.shrq != null">
                shrq = #{record.shrq,jdbcType=TIMESTAMP},
            </if>
            <if test="record.fk != null">
                fk = #{record.fk,jdbcType=TINYINT},
            </if>
            <if test="record.fkr != null">
                fkr = #{record.fkr,jdbcType=VARCHAR},
            </if>
            <if test="record.fkrq != null">
                fkrq = #{record.fkrq,jdbcType=TIMESTAMP},
            </if>
            <if test="record.zf != null">
                zf = #{record.zf,jdbcType=TINYINT},
            </if>
            <if test="record.zfr != null">
                zfr = #{record.zfr,jdbcType=VARCHAR},
            </if>
            <if test="record.zfrq != null">
                zfrq = #{record.zfrq,jdbcType=TIMESTAMP},
            </if>
            <if test="record.ex1 != null">
                ex1 = #{record.ex1,jdbcType=VARCHAR},
            </if>
            <if test="record.ex2 != null">
                ex2 = #{record.ex2,jdbcType=VARCHAR},
            </if>
            <if test="record.ex3 != null">
                ex3 = #{record.ex3,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update purchase_cgfk
        set Id = #{record.id,jdbcType=BIGINT},
        djbh = #{record.djbh,jdbcType=VARCHAR},
        djrq = #{record.djrq,jdbcType=TIMESTAMP},
        gys_id = #{record.gysId,jdbcType=INTEGER},
        je = #{record.je,jdbcType=DECIMAL},
        khyh_id = #{record.khyhId,jdbcType=INTEGER},
        yhzh = #{record.yhzh,jdbcType=VARCHAR},
        bz = #{record.bz,jdbcType=VARCHAR},
        fj = #{record.fj,jdbcType=VARCHAR},
        zdr = #{record.zdr,jdbcType=VARCHAR},
        zdrq = #{record.zdrq,jdbcType=TIMESTAMP},
        qr = #{record.qr,jdbcType=TINYINT},
        qrr = #{record.qrr,jdbcType=VARCHAR},
        qrrq = #{record.qrrq,jdbcType=TIMESTAMP},
        sh = #{record.sh,jdbcType=TINYINT},
        auditor = #{record.auditor,jdbcType=VARCHAR},
        shrq = #{record.shrq,jdbcType=TIMESTAMP},
        fk = #{record.fk,jdbcType=TINYINT},
        fkr = #{record.fkr,jdbcType=VARCHAR},
        fkrq = #{record.fkrq,jdbcType=TIMESTAMP},
        zf = #{record.zf,jdbcType=TINYINT},
        zfr = #{record.zfr,jdbcType=VARCHAR},
        zfrq = #{record.zfrq,jdbcType=TIMESTAMP},
        ex1 = #{record.ex1,jdbcType=VARCHAR},
        ex2 = #{record.ex2,jdbcType=VARCHAR},
        ex3 = #{record.ex3,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.febs.purchase.entity.PurchaseCgfk">
        update purchase_cgfk
        <set>
            <if test="djbh != null">
                djbh = #{djbh,jdbcType=VARCHAR},
            </if>
            <if test="djrq != null">
                djrq = #{djrq,jdbcType=TIMESTAMP},
            </if>
            <if test="gysId != null">
                gys_id = #{gysId,jdbcType=INTEGER},
            </if>
            <if test="je != null">
                je = #{je,jdbcType=DECIMAL},
            </if>
            <if test="khyhId != null">
                khyh_id = #{khyhId,jdbcType=INTEGER},
            </if>
            <if test="yhzh != null">
                yhzh = #{yhzh,jdbcType=VARCHAR},
            </if>
            <if test="bz != null">
                bz = #{bz,jdbcType=VARCHAR},
            </if>
            <if test="fj != null">
                fj = #{fj,jdbcType=VARCHAR},
            </if>
            <if test="zdr != null">
                zdr = #{zdr,jdbcType=VARCHAR},
            </if>
            <if test="zdrq != null">
                zdrq = #{zdrq,jdbcType=TIMESTAMP},
            </if>
            <if test="qr != null">
                qr = #{qr,jdbcType=TINYINT},
            </if>
            <if test="qrr != null">
                qrr = #{qrr,jdbcType=VARCHAR},
            </if>
            <if test="qrrq != null">
                qrrq = #{qrrq,jdbcType=TIMESTAMP},
            </if>
            <if test="sh != null">
                sh = #{sh,jdbcType=TINYINT},
            </if>
            <if test="auditor != null">
                auditor = #{auditor,jdbcType=VARCHAR},
            </if>
            <if test="shrq != null">
                shrq = #{shrq,jdbcType=TIMESTAMP},
            </if>
            <if test="fk != null">
                fk = #{fk,jdbcType=TINYINT},
            </if>
            <if test="fkr != null">
                fkr = #{fkr,jdbcType=VARCHAR},
            </if>
            <if test="fkrq != null">
                fkrq = #{fkrq,jdbcType=TIMESTAMP},
            </if>
            <if test="zf != null">
                zf = #{zf,jdbcType=TINYINT},
            </if>
            <if test="zfr != null">
                zfr = #{zfr,jdbcType=VARCHAR},
            </if>
            <if test="zfrq != null">
                zfrq = #{zfrq,jdbcType=TIMESTAMP},
            </if>
            <if test="ex1 != null">
                ex1 = #{ex1,jdbcType=VARCHAR},
            </if>
            <if test="ex2 != null">
                ex2 = #{ex2,jdbcType=VARCHAR},
            </if>
            <if test="ex3 != null">
                ex3 = #{ex3,jdbcType=VARCHAR},
            </if>
        </set>
        where Id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.febs.purchase.entity.PurchaseCgfk">
    update purchase_cgfk
    set djbh = #{djbh,jdbcType=VARCHAR},
      djrq = #{djrq,jdbcType=TIMESTAMP},
      gys_id = #{gysId,jdbcType=INTEGER},
      je = #{je,jdbcType=DECIMAL},
      khyh_id = #{khyhId,jdbcType=INTEGER},
      yhzh = #{yhzh,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      fj = #{fj,jdbcType=VARCHAR},
      zdr = #{zdr,jdbcType=VARCHAR},
      zdrq = #{zdrq,jdbcType=TIMESTAMP},
      qr = #{qr,jdbcType=TINYINT},
      qrr = #{qrr,jdbcType=VARCHAR},
      qrrq = #{qrrq,jdbcType=TIMESTAMP},
      sh = #{sh,jdbcType=TINYINT},
      auditor = #{auditor,jdbcType=VARCHAR},
      shrq = #{shrq,jdbcType=TIMESTAMP},
      fk = #{fk,jdbcType=TINYINT},
      fkr = #{fkr,jdbcType=VARCHAR},
      fkrq = #{fkrq,jdbcType=TIMESTAMP},
      zf = #{zf,jdbcType=TINYINT},
      zfr = #{zfr,jdbcType=VARCHAR},
      zfrq = #{zfrq,jdbcType=TIMESTAMP},
      ex1 = #{ex1,jdbcType=VARCHAR},
      ex2 = #{ex2,jdbcType=VARCHAR},
      ex3 = #{ex3,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>


    <sql id="Page_Column_List">
       fk.Id, fk.djbh, fk.djrq, fk.gys_id, fk.khyh_id, fk.yhzh, fk.bz, fk.fj, fk.zdr, fk.zdrq, fk.qr, fk.qrr, fk.qrrq, fk.sh,
        fk.auditor, fk.shrq, fk.fk, fk.fkr, fk.fkrq, fk.zf, fk.zfr, fk.zfrq, fk.ex1, fk.ex2, fk.ex3
    </sql>

    <select id="selectPageByQuery" parameterType="com.febs.purchase.vo.req.PurchaseCgfkReq" resultType="com.febs.purchase.vo.resp.PurchaseCgfkResp">
        SELECT
        <include refid="Page_Column_List" />
        ,gys.gysmc ,yh.khyhmc ,mx.id mxId, mx.ydjh , mx.sl,mx.je, sp.spdm, sp.spmc ,sp.memo ,dw.jldwmc
        FROM purchase_cgfk fk
        LEFT JOIN system_gys gys ON fk.gys_id = gys.id
        LEFT JOIN basic_khyh yh ON fk.khyh_id = yh.id
        LEFT JOIN purchase_cgfkmx mx ON fk.id = mx.pid
        LEFT JOIN shangpin sp ON mx.sp_id = sp.id
        LEFT JOIN basic_jldw dw ON sp.jldw_id = dw.id
        <where>
            <if test="fk.djbh != null and fk.djbh != ''">
                and fk.djbh like CONCAT('%',#{fk.djbh},'%')
            </if>
            <if test="fk.startTime != null and fk.endTime != null">
                and fk.djrq between #{fk.startTime} and #{fk.endTime}
            </if>
            <if test="fk.fk != null">
                and fk.fk = #{fk.fk}
            </if>
            <if test="fk.fkr != null and fk.fkr != ''">
                and fk.fkr like CONCAT('%',#{fk.fkr},'%')
            </if>
            <if test="fk.qr != null">
                and fk.qr = #{fk.qr}
            </if>
            <if test="fk.qrr != null and fk.qrr != ''">
                and fk.qrr like CONCAT('%',#{fk.qrr},'%')
            </if>
            <if test="fk.sh != null">
                and fk.sh = #{fk.sh}
            </if>
            <if test="fk.auditor != null and fk.auditor != ''">
                and fk.auditor like CONCAT('%',#{fk.auditor},'%')
            </if>
            <if test="fk.zdr != null and fk.zdr != ''">
                and fk.zdr like CONCAT('%',#{fk.zdr},'%')
            </if>
            <if test="fk.gysmc != null and fk.gysmc != ''">
                and gysmc like CONCAT('%',#{fk.gysmc},'%')
            </if>
            <if test="fk.spmc != null and fk.spmc != ''">
                and spmc like CONCAT('%',#{fk.spmc},'%')
            </if>
        </where>

    </select>


    <select id="selectByQuery" parameterType="com.febs.purchase.vo.req.PurchaseCgfkReq" resultType="com.febs.purchase.vo.resp.PurchaseCgfkResp">
        SELECT
        <include refid="Page_Column_List" />
        ,gys.gysmc ,yh.khyhmc ,mx.id mxId, mx.ydjh , mx.sl,mx.je, sp.spdm, sp.spmc ,sp.memo ,dw.jldwmc
        FROM purchase_cgfk fk
        LEFT JOIN system_gys gys ON fk.gys_id = gys.id
        LEFT JOIN basic_khyh yh ON fk.khyh_id = yh.id
        LEFT JOIN purchase_cgfkmx mx ON fk.id = mx.pid
        LEFT JOIN shangpin sp ON mx.sp_id = sp.id
        LEFT JOIN basic_jldw dw ON sp.jldw_id = dw.id
        <where>
            <if test="id != null">
                and fk.Id = #{id}
            </if>
            <if test="djbh != null and djbh != ''">
                and fk.djbh like CONCAT('%',#{djbh},'%')
            </if>
            <if test="startTime != null and endTime != null">
                and fk.djrq between #{startTime} and #{endTime}
            </if>
            <if test="fk != null">
                and fk.fk = #{fk}
            </if>
            <if test="fkr != null and fkr != ''">
                and fk.fkr like CONCAT('%',#{fkr},'%')
            </if>
            <if test="qr != null">
                and fk.qr = #{qr}
            </if>
            <if test="qrr != null and qrr != ''">
                and fk.qrr like CONCAT('%',#{qrr},'%')
            </if>
            <if test="sh != null">
                and fk.sh = #{sh}
            </if>
            <if test="auditor != null and auditor != ''">
                and fk.auditor like CONCAT('%',#{auditor},'%')
            </if>
            <if test="zdr != null and zdr != ''">
                and fk.zdr like CONCAT('%',#{zdr},'%')
            </if>
            <if test="gysmc != null and gysmc != ''">
                and gysmc like CONCAT('%',#{gysmc},'%')
            </if>
            <if test="spmc != null and spmc != ''">
                and spmc like CONCAT('%',#{spmc},'%')
            </if>
        </where>
    </select>

</mapper>
